SECRET_KEY=django-key
DEBUG=True

DB_NAME=shopflow_profiles
DB_USER=root
DB_PASSWORD=nikhil@12345
DB_HOST=127.0.0.1
DB_PORT=3306

FRONTEND_URL=http://18.142.2.14:5173

AUTH_SERVICE_URL=http://13.215.86.33:8000

RESEND_API_KEY=resend-api-key
RESEND_FROM_EMAIL=onboarding@resend.dev